<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TRES</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>jetbrainsmononl_bold.ttf</string>
		<string>jetbrainsmononl_bolditalic.ttf</string>
		<string>jetbrainsmononl_extrabold.ttf</string>
		<string>jetbrainsmononl_extrabolditalic.ttf</string>
		<string>jetbrainsmononl_extralight.ttf</string>
		<string>jetbrainsmononl_extralightitalic.ttf</string>
		<string>jetbrainsmononl_italic.ttf</string>
		<string>jetbrainsmononl_light.ttf</string>
		<string>jetbrainsmononl_lightitalic.ttf</string>
		<string>jetbrainsmononl_medium.ttf</string>
		<string>jetbrainsmononl_mediumitalic.ttf</string>
		<string>jetbrainsmononl_regular.ttf</string>
		<string>jetbrainsmononl_semibold.ttf</string>
		<string>jetbrainsmononl_semibolditalic.ttf</string>
		<string>jetbrainsmononl_thin.ttf</string>
		<string>jetbrainsmononl_thinitalic.ttf</string>
		<string>jetbrainsmono_bold.ttf</string>
		<string>jetbrainsmono_bolditalic.ttf</string>
		<string>jetbrainsmono_extrabold.ttf</string>
		<string>jetbrainsmono_extrabolditalic.ttf</string>
		<string>jetbrainsmono_extralight.ttf</string>
		<string>jetbrainsmono_extralightitalic.ttf</string>
		<string>jetbrainsmono_italic.ttf</string>
		<string>jetbrainsmono_light.ttf</string>
		<string>jetbrainsmono_lightitalic.ttf</string>
		<string>jetbrainsmono_medium.ttf</string>
		<string>jetbrainsmono_mediumitalic.ttf</string>
		<string>jetbrainsmono_regular.ttf</string>
		<string>jetbrainsmono_semibold.ttf</string>
		<string>jetbrainsmono_semibolditalic.ttf</string>
		<string>jetbrainsmono_thin.ttf</string>
		<string>jetbrainsmono_thinitalic.ttf</string>
	</array>
</dict>
</plist>
